.centerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.highlight {
  box-shadow: .2em .2em .5em orange!important;
  -moz-box-shadow: .2em .2em .5em orange!important;
  -webkit-box-shadow: .2em .2em .5em orange!important;
}

