<div class="centerWrapper">
  <table class="playingCards simpleCards">
    <tr ng-repeat="i in range(0, 3)">
      <td ng-repeat="j in range(0, 12)">
        <span class="card" ng-class="['rank-' + deck[i * 13 + j].rank, deck[i * 13 + j].suit, {highlight: needsHighlight(i*13+j)}]">
              <span class="rank">{{deck[i * 13 + j].rank}}</span>
              <span class="suit">{{concatSuit[i * 13 + j]}}</span>
          </span>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-sm-4">
      <h2>SCORE = {{score}}</h2>
    </div>
    <div class="col-sm-4">
      <a ng-href="/#/" class="btn btn-primary btn-lg" role="button">New Game</a>
    </div>
    <div class="col-sm-4">
      <a ng-href="/#/deals" class="btn btn-primary btn-lg" role="button">Deals History</a>
    </div>
  </div>

</div>
